@import url(http://allfont.es/allfont.css?fonts=josefin-sans);
@import url(http://allfont.es/allfont.css?fonts=josefin-sans-bolder);

/*Propiedad background-attachment*/

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  position: absolute;
  width: 1200px;
  height: 344px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.myLogo {
  position: absolute;
  width: 90%;
  height: 260px;
  top: 283px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hola_img {
  position: absolute;
  top: 250%;
  left:-3%;
  display: flex;
}

.quienSoy {
  position: absolute;
  top: 290%;

  font-family: "Josefin Sans";
  font-style: normal;
  font-size: 20px;
  line-height: 150%;
  text-align: justify;
  color: white;
}

.pinkText {
  font-family: 'Josefin Sans';
  color: #F30083;
  font-weight: 500;
  font-size: 50px;
}

.laboratoria {
  font-family: 'Josefin Sans', bold italic;
  color: yellow;
  text-size-adjust: 5em;
  letter-spacing: -0.01em;
}

.button_Curriculum {
  justify-content: center;
  text-align: center;
  padding: 10px;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 25px;

  width: 170px;
  height: 30px;
  top: 400%;
  position: absolute;

  border: 3px solid #F30083;
  font-family: "Josefin Sans";
  display: flex;
  align-items: center;
  justify-content: center;
}

.proyectos_img {
  position: absolute;
  left: 0%;
  top: 1580px;
}

.pokepedia_title {
  position: absolute;
  left: 0%;
  top: 530%;

}

.pokepediaModal {
  position: absolute;
  width: 25%;
  height: 20%;
  left: 0%;
  top: 550%;

  font-family: "Josefin Sans";
  font-size: 21px;
  letter-spacing: 0em;
  text-align: left;
  /* or 16px */
  color: #FFFFFF;
}

.pokepediaModal2 {
  position: absolute;
  width: 30%;
  height: 20%;
  left: 0%;
  top: 590%;

  font-family: "Josefin Sans";
  font-size: 21px;
 
  text-align: left;
  /* or 16px */

  color: #FFFFFF;

}

.tecnologia_img {
  position: absolute;
  left: 0%;
  top: 2500px;

}

/*header MENU*/
.fill {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.snip1341 {
  font-family: "Josefin Sans";
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}

.snip1341 * {
  box-sizing: border-box;
  -webkit-transition: all 0.35s linear;
  transition: all 0.35s linear;
}

.snip1341 li {
  display: inline-block;
  list-style: outside none none;
  margin: 0.5em 1em;
  overflow: hidden;
}

.snip1341 a {
  padding: 0.3em 0.8em;
  backface-visibility: hidden;
  color: #bfbfbf;
  display: block;
  line-height: 2em;
  padding: 0 1em;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.snip1341 a:after {
  -webkit-transition: all 0.35s linear;
  transition: all 0.35s linear;
  background-color: #F30083;
  color: transparent;
  content: attr(data-hover);
  top: 0;
  line-height: 2em;
  position: absolute;
  left: 100%;
  width: 100%;
  opacity: 0.4;
}

.snip1341 li:hover a,
.snip1341 li.current a {
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg);
  color: transparent;
}

.snip1341 li:hover a:after,
.snip1341 li.current a:after {
  opacity: 1;
  color: #ffffff;
  -webkit-transform: rotateY(-90deg);
  transform: rotateY(-90deg);
}

.icons{
  position: absolute;
  width: 1257px;
  height: 730px;

}

.icons_img1 {
  position: absolute;
  left: 0%;
  top: 390%;
}

.icons_text1 {
  position: absolute;
  width: 75px;
  height: 25px;
  left: 0%;
  top: 410%;

  font-family: "Josefin Sans";
  font-style: italic;
  font-weight: bold;
  font-size: 25px;
  /* identical to box height */

  text-transform: uppercase;
  color: white;
}

.icons_img2 {
  position: absolute;
  left: 436px;
  top: 390%;
}

.icons_text2 {
  position: absolute;
  width: 75px;
  height: 25px;
  left: 456px;
  top: 410%;

  font-family: "Josefin Sans";
  font-style: italic;
  font-weight: bold;
  font-size: 25px;
  /* identical to box height */

  text-transform: uppercase;
  color: white;
}

.icons_img3 {
  position: absolute;
  left: 698px;
  top: 390%;
}

.icons_text3 {
  position: absolute;
  width: 75px;
  height: 25px;
  left: 670px;
  top: 410%;

  font-family: "Josefin Sans";
  font-style: italic;
  font-weight: bold;
  font-size: 25px;
  /* identical to box height */

  text-transform: uppercase;
  color: white;
}

.icons_img4 {
  position: absolute;
  left: 963px;
  top: 390%;
}

.icons_text4 {
  position: absolute;
  width: 75px;
  height: 25px;
  left: 974px;
  top: 410%;

  font-family: "Josefin Sans";
  font-style: italic;
  font-weight: bold;
  font-size: 25px;
  /* identical to box height */

  text-transform: uppercase;
  color: white;
}

.icons_img5 {
  position: absolute;
  left: 1270px;
  top: 390%;
  
}

.icons_text5 {
  position: absolute;
  width: 75px;
  height: 25px;
  left: 1250px;
  top: 410%;

  font-family: "Josefin Sans";
  font-style: italic;
  font-weight: bold;
  font-size: 25px;
  /* identical to box height */

  text-transform: uppercase;
  color: white;
}

.icons_img6 {
  position: absolute;
  left: 0%;
  top: 435%;
}

.icons_text6 {
  position: absolute;
  width: 75px;
  height: 25px;
  left: 0%;
  top: 460%;

  font-family: "Josefin Sans";
  font-style: italic;
  font-weight: bold;
  font-size: 25px;
  /* identical to box height */

  text-transform: uppercase;
  color: white;
}

.icons_img7 {
  position: absolute;
  left: 435px;
  top: 435%;
}

.icons_text7 {
  position: absolute;
  width: 75px;
  height: 25px;
  left: 460px;
  top: 460%;

  font-family: "Josefin Sans";
  font-style: italic;
  font-weight: bold;
  font-size: 25px;
  /* identical to box height */

  text-transform: uppercase;
  color: white;
}

.icons_img8 {
  position: absolute;
  left: 698px;
  top: 435%;
}

.icons_text8 {
  position: absolute;
  width: 75px;
  height: 25px;
  left: 698px;
  top: 460%;

  font-family: "Josefin Sans";
  font-style: italic;
  font-weight: bold;
  font-size: 25px;
  /* identical to box height */

  text-transform: uppercase;
  color: white;
}

.icons_img9 {
  position: absolute;
  left: 968px;
  top: 435%;
}

.icons_text9 {
  position: absolute;
  width: 75px;
  height: 25px;
  left: 968px;
  top: 460%;

  font-family: "Josefin Sans";
  font-style: italic;
  font-weight: bold;
  font-size: 25px;
  /* identical to box height */

  text-transform: uppercase;
  color: white;
}

.icons_img10 {
  position: absolute;
  left: 1237px;
  top: 435%;
}

.icons_text10 {
  position: absolute;
  width: 75px;
  height: 25px;
  left: 1237px;
  top: 460%;

  font-family: "Josefin Sans";
  font-style: italic;
  font-weight: bold;
  font-size: 25px;
  /* identical to box height */

  text-transform: uppercase;
  color: white;
}

.pink_footer {
  position: absolute;
  width: 1519px;
  height: 50%;
  left: 0px;
  top: 3800px;

  background: #F30083;
}

/*FONDO NEBULOSA*/
body {
  background-image: url("img/fondo_espacial.png");
  background-attachment: fixed;
  -webkit-background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

}
