@import url(http://allfont.es/allfont.css?fonts=josefin-sans);
@import url(http://allfont.es/allfont.css?fonts=josefin-sans-bolder);


body {
	background-image: url("../img/fondo_espacial.png");
	background-attachment: fixed;
	background-size: cover;
	font-family: "Josefin Sans";
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: black;
}

.fatherFlex {
	display: flex;
	flex-flow: column nowrap;
	width: 90%;
	max-width: 1100px;
	margin: auto;
}

.header {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
}

.menu {
	display: flex;
	flex-flow: row nowrap;
	height: 100px;
}

.iphone {
	width: 32rem;
	margin: 0% 0% 20% 0%;
}


.img-principal {
	display: flex;
	justify-content: center;
	margin: 15% 0% 35% 0%;
}

.texto-principal {
	display: grid;
	font-family: "Josefin Sans";
	font-style: oblique;
	font-size: 24px;
	line-height: 140%;
	text-align: justify;
	color: white;
}

.hola_img {
	padding: 0% 0% 8% 0%;
}

.quienSoy{
	padding: 0% 0% 5% 0%;
}

.laboratoria {
	font-family: 'Josefin Sans', bold italic;
	color: yellow;
	text-size-adjust: 5em;
	letter-spacing: -0.01em;
}

.button_Curriculum {
	font-size: 25px;
	width: 250px;
	margin: 0% 0% 25% 0%;
	text-decoration: none;
	background:#F30083;
	font-family: "Josefin Sans";
	padding: 20px 10px;
	border-radius: 5px;
	text-align: center;
	max-width: 320px;
	height: 65px;
	margin-bottom: 60px;
	color:white;
}

.proyectos_img{
    margin: 15% 0% 15% 0%;
}

.textOne {
	width: 60%;
	font-family: "Josefin Sans";
	font-style: oblique;
	font-size: 20px;
	text-align: left;
	color: #FFFFFF;
	line-height: 25px;
	padding: 0% 0% 5% 0%;
}

.textTwo {
	font-family: "Josefin Sans";
	font-size: 25px;
	font-style: italic;
	font-weight: bolder;
	padding: 0% 0% 5% 0%;
	color: yellow;
}

.pinkText {
	font-family: 'Josefin Sans';
	color: #F30083;
	font-weight: 500;
	font-size: 50px;
}

.button_code {
	margin: 5% 0% 5% 0%;
	 text-align: center;
	color: #ffffff;
	text-decoration: none;
	border-radius: 5px; 
	font-size: 25px;
	width: 250px;
	text-decoration: none;
	height: 40px;
	border: 3px solid #F30083;
	font-family: "Josefin Sans";
	display: flex;
	align-items: center;
	justify-content: center;
}

.button_demo {
	text-align: center;
	color: #ffffff;
	text-decoration: none;
	border-radius: 5px;
	font-size: 25px;
	width: 250px;
	text-decoration: none;
	height: 40px;
	border: 3px solid #F30083;
	font-family: "Josefin Sans";
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2% 10%;
	margin: 2% 0% 0% 0%;
}

.section {
	/* background: #000; */
	display: flex;
	justify-content: space-between;
	margin: 0% 0% 10% 15%;
}

.articulos {
	/* background: #4e4e6a; */
	flex: 2 1 auto;
	display: flex;
	flex-flow: row wrap;
	text-align: -moz-center;
}

.titleProyect {
	margin: 0% 0% 8% 0%;
}

.article {
	/* background: #1f6cb0; */
	flex: 1 1 40%;
}

.navegacion {
	/* background: #70a3c4; */
	flex: 1 1 100%;
}

.aside {
	/* background: #f73f52; */
	flex: 1 1 auto;
}

.proyect_img {
	margin: 0% 35% 8% 0%;
	padding: 0% 0% 5% 0%;
}

.tech {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
    align-items: normal;
	justify-content: space-around;
	padding: 0% 0% 15% 0%;
}
.contact_img {
	display: flex;
	flex-flow: row wrap;
    align-items: normal;
	justify-content: space-around;
	padding: 0% 10% 15% 0%;
}

.contactON {
	padding: 0% 10% 15% 0%;
	width: 100%;
	display: flex;
	flex-flow: row wrap;
    align-items: normal;
	justify-content: space-around;
	text-align: center;
	justify-items: center;
	padding: 0% 10% 15% 0%;
}

.footer {
	display: flex;
	justify-content: center;
	color: ivory;
	background: black;
	text-align: center;
}




@media all and (max-width: 1000px) {
	.fatherFlex {
		display: flex;
		justify-content: center;
	}

	.section {
		flex-direction: column;
	}

	.menu {
		flex-direction: column;
		height: auto;
	}

	.aside {
		display: flex;
		justify-content: center;
	}

	
	.pie {
		display: flex;
		text-align: center;
		flex-direction: row;
		flex-wrap: wrap;
		flex-basis: -moz-available;
		width: 100%;
		justify-content: center;
	}
}

/* @media all and (max-width: 1000px) {
	.fatherFlex {
		display: flex;
		justify-content: center;
	}
} */

@media all and (max-width: 800px) {
	.fatherFlex {
		display: flex;
		justify-content: center;
	}

	.section {
		flex-direction: column;
	}

	.menu {
		flex-direction: column;
		height: auto;
	}

	.aside {
		display: flex;
		justify-content: center;
	}
	.contact_img {
		width: 100%;
	}
}

@media all and (max-width: 600px) {

	.articulos {
		flex-direction: column;
		justify-content: center;
	}

	.myLogo {
		display: none;
	}
	.contact_img {
		width: 20%;
	}
	
	.pie {
		display: flex;
		text-align: center;
		flex-direction: row;
		flex-wrap: wrap;
		flex-basis: -moz-available;
		width: 100%;
		justify-content: center;
	}
}

@media all and (max-width: 400px) {
	body {
		background-image: none;
	}

	* {
		margin: 5px;
		padding: 5px;
		box-sizing: border-box;
	}

	.fatherFlex {
		display: flex;
		flex-flow: column nowrap;
		width: 100%;
		background-color: black;
	}

	.iphone {
		width: 15rem;
	}

	.texto-principal {
		font-family: "Josefin Sans";
		font-style: normal;
		font-size: 18px;
		line-height: 140%;
		text-align: justify;
		color: white;
	}

	a {
		display: flex;
		justify-content: center;

	}

	.section {
		display: flex;
		justify-content: center;
		width: 90%;
	}

	.articulos {
		flex: 2 1 auto;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
	}

	.article {
		flex: 1 1 40%;
	}


	.aside {
		flex: 1 1 auto;
		padding: 15% 0% 15% 0%;
	}

	.textOne {
		width: 80%;
		font-family: "Josefin Sans";
		font-style: oblique;
		font-size: 17px;
		text-align: left;
		color: #FFFFFF;
		line-height: 22px;
		padding: 0% 0% 5% 0%;
	}

	.textTwo {
		font-family: "Josefin Sans";
		font-size: 25px;
		font-style: italic;
		font-weight: bolder;
		padding: 0% 0% 5% 0%;
		color: yellow;
	}

	.tech {
		width: 90%;

	}

	.footer {
		display: flex;
		color: ivory;
		width: 100%;
	}

	.contact_img {
		width: 100%;
	}

	.pie {
		display: flex;
		text-align: center;
		flex-direction: row;
		flex-wrap: wrap;
		flex-basis: -moz-available;
		width: 100%;
		justify-content: center;
	}

}

@media all and (max-width: 300px) {

	body {
		background-image: none;
		background-color: black;
	}

	* {
		margin: 5px;
		padding: 5px;
		box-sizing: border-box;
	}

	.fatherFlex {
		display: flex;
		flex-flow: column nowrap;
		width: 100%;
		background-color: black;
	}

	.iphone {
		width: 15rem;
	}

	.texto-principal {
		font-family: "Josefin Sans";
		font-style: normal;
		font-size: 14px;
		line-height: 120%;
		text-align: justify;
		color: white;
	}

	a {
		display: flex;
		justify-content: center;
	}

	.section {
		display: flex;
		justify-content: center;
		width: 90%;
	}

	.articulos {
		flex: 2 1 auto;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
	}

	.article {
		flex: 1 1 40%;
	}

	.aside {
		flex: 1 1 auto;
		padding: 15% 0% 15% 0%;
	}

	.textTwo {
		font-family: "Josefin Sans";
		font-size: 25px;
		font-style: italic;
		font-weight: bolder;
		padding: 0% 0% 5% 0%;
		color: yellow;
	}

	.textOne {
		width: 80%;
		font-family: "Josefin Sans";
		font-style: oblique;
		font-size: 17px;
		text-align: left;
		color: #FFFFFF;
		line-height: 22px;
		padding: 0% 0% 5% 0%;
	}

	.tech {
		width: 90%;

	}

	.footer {
		display: flex;
		justify-content: center;
		color: ivory;
		width: 100%;
	}

	.contact_img {
		width: 100%;
	}

	.pie {
		display: flex;
		text-align: left;
		flex-direction: row;
		flex-wrap: wrap;
		flex-basis: -moz-available;
		width: 100%;
		justify-content: center;
	}
}