
  .iconify {
    height: 70%;
    width: 24%;
    color: ivory;
    margin-top: 2%;
    margin-left: 30%;
    margin-bottom: -2%;
    margin-right: -36%;
      }
  
  .footerP {
    text-decoration: none;
    font-family: "Josefin Sans";
    text-transform: uppercase;
    color: ivory;
  }

 .pink_footer {
  width: 100%;
  top: 435%;
  text-align: center;
  display: grid;

  color: ivory;
  background: black;
}