

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  position: absolute;
  width: 1200px;
  height: 344px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.myLogo {
  position: absolute;
  width: 90%;
  height: 260px;
  top: 283px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hola_img {
  position: absolute;
  top: 250%;
  left:-3%;
  display: flex;
}