@import url('https://fonts.googleapis.com/css?family=Saira+Extra+Condensed');

.container {
	/* background-image: linear-gradient(to bottom,  rgba(0,0,0,0.75) -10%,rgba(0,0,0,0) 100%); */
	text-align: left;
	font-size: 1.25rem;
	font-family: 'Saira Extra Condensed', sans-serif;
	letter-spacing: 2px;

	margin-left: -3px;
	top: 0;
	position: fixed;
}

ul {
	display: flex;
	flex-direction: column;
	color: mintcream;
	/* background-image: linear-gradient(to bottom,  rgba(0,0,0,0.75) -10%,rgba(0,0,0,0) 100%); */
}

/* li {
	display: inline-flex;
} */

a {
  position: relative;		
	}
	