
.quienSoy {
    font-family: "Josefin Sans";
    font-style: normal;
    font-size: 20px;
    line-height: 150%;
    text-align: justify;
    color: white;
    padding: 0% 0% 5% 0%;
  }
  
  .pinkText {
    font-family: 'Josefin Sans';
    color: #F30083;
    font-weight: 500;
    font-size: 50px;
  }
  
  .laboratoria {
    font-family: 'Josefin Sans', bold italic;
    color: yellow;
    text-size-adjust: 5em;
    letter-spacing: -0.01em;
  }
  
  .button_Curriculum {
    justify-content: center;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 25px;
  
    width: 170px;
    height: 30px; 
  
    border: 3px solid #F30083;
    font-family: "Josefin Sans";
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0% 2% 0% 2%;
    margin: 5% 0% 15% 40%;
  }
  