article {
  display: flex;
  flex-direction: column 2;
}

.proyectsModal {
  display: flex;
  flex-direction: row;
  padding: 0% 0% 15% 0%;
}

.proyectos_img {
  width: 40%;
}

.flexbox-item {
  flex-direction: column;
}

.titleProyect {
  padding: 25% 0% 6% 0%;
}

.textOne {
  width: 50%;
  font-family: "Josefin Sans";
  font-style: italic;
  font-size: 20px;
  text-align: left;
  color: #FFFFFF;
  line-height: 21px;
  padding: 0% 0% 5% 0%;
}

.textTwo {
  font-family: "Josefin Sans";
  font-size: 25px;
  font-style: italic;
  font-weight: bolder;

  color: yellow;
}

 .button_code {
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 25px;

  width: 250px;
  height: 30px;

  border: 3px solid #F30083;
  font-family: "Josefin Sans";
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0% 2% 0% 2%;
  margin: 2% 0% 0% 0%;
}

 .button_demo {
  justify-content: center;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 25px;

  width: 250px;
  height: 30px;

  border: 3px solid #F30083;
  font-family: "Josefin Sans";
  display: flex;
  padding: 0% 2% 0% 2%;
  margin: 2% 0% 0% 0%;
}

.iphone {
  width: 45%;
  margin: -85% 0% 0% 51%;
}

.iphone_Two {
  width: 45%;
  margin: -85% 0% 0% 53%;
}