.proyectsModal{
  display: flex;
  flex-direction: row;
  padding: 0% 0% 15% 0%;
}

.proyectos_img {
  width: 40%;
  height: 0%;
  padding: 0% 0% 10%;
   
  }

.flexbox-item {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
}
  
  .titleProyect {
    display: flex;
    width: 70%;
    padding: 25% 0% 6% 0%;
  }
  
  .textOne {
    width: 95%;
    font-family: "Josefin Sans";
    /* font-style: italic; */
    font-size: 18px;
    text-align: left;
    color: #FFFFFF;
    line-height : 25px;
    /* padding: 0% 0% 20% 0%; */
  }

  .textTwo{
    font-family: "Josefin Sans";
    font-size: 25px;
    font-style: italic;
    font-weight: bolder;

    width: 95%;
    text-align: left;
    color: yellow;
    padding: 0% 0% 20% 0%;
  }
  
  .button_code { 
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    height: 5%;

    border-radius: 5px;
    text-transform: uppercase;
    border: 2px solid #F30083;
    font-family: "Josefin Sans";
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0% 0% 5% 0%;
    }

  .button_demo { 
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    
    width: 99%;
    height: 5%;
    border-radius: 5px;
    text-transform: uppercase;
    border: 2px solid #F30083;
    font-family: "Josefin Sans";
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
