@import url(http://allfont.es/allfont.css?fonts=josefin-sans);
@import url(http://allfont.es/allfont.css?fonts=josefin-sans-bolder);

/*FONDO NEBULOSA*/


.container{
  position: absolute;
  width: 1200px;
  height: 344px;
  display: flex;
  align-items: center;
  justify-content: center;

}
 
/*header MENU*/
.fill {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.snip1341 {
  font-family: "Josefin Sans";
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}

.snip1341 * {
  box-sizing: border-box;
  -webkit-transition: all 0.35s linear;
  transition: all 0.35s linear;
}

.snip1341 li {
  display: inline-block;
  list-style: outside none none;
  margin: 0.5em 1em;
  overflow: hidden;
}

.snip1341 a {
  padding: 0.3em 0.8em;
  backface-visibility: hidden;
  color: #bfbfbf;
  display: block;
  line-height: 2em;
  padding: 0 1em;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.snip1341 a:after {
  -webkit-transition: all 0.35s linear;
  transition: all 0.35s linear;
  background-color: #F30083;
  color: transparent;
  content: attr(data-hover);
  top: 0;
  line-height: 2em;
  position: absolute;
  left: 100%;
  width: 100%;
  opacity: 0.4;
}

.snip1341 li:hover a,
.snip1341 li.current a {
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg);
  color: transparent;
}

.snip1341 li:hover a:after,
.snip1341 li.current a:after {
  opacity: 1;
  color: #ffffff;
  -webkit-transform: rotateY(-90deg);
  transform: rotateY(-90deg);
}


.v_img {
  width: 234px;
  height: 269px;
  left: 1528px;
  top: 690px;
}

body {
  background-image: url("../img/fondo_espacial.png");
  background-attachment: fixed;
  background-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}