@import url(http://allfont.es/allfont.css?fonts=josefin-sans);
@import url(http://allfont.es/allfont.css?fonts=josefin-sans-bolder);
  
* {
	margin: 0;
	padding: 0;
}

/*FONDO NEBULOSA*/

body {
  background-image: url("../img/fondo_espacial.png");
  background-attachment: fixed;
  background-size: cover;
  font-family: "Josefin Sans";
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  overflow-y: auto;
}

.container{
  width: 90%;
  max-width: 1200px;
  /* margin: auto; */
  /* Flex elemento MADRE */
	display: flex;
  /* flex-direction: row;
  flex-wrap: wrap; 
  Esto, comentado es lo mismo q flex-flow, solo q flex-flow e suna abreviación de código*/
  flex-flow:row wrap;
  overflow-y: auto;
}

.item {
  padding: 10px;
}

img {
  width: auto;
  height: auto;
  display: block;
  overflow-y: auto;
}

