.tecnologia_img {
    position: absolute;
    width: 45%;
    left: 0%;
    top: 2500px;
  }
  
.icons{
    position: absolute;
    width: 69%;
    height: 219%;
  }
  
  .icons_img1 {
    position: absolute;
    left: 3%;
    top: 390%;
  }
  .icons_img2 {
    position: absolute;
    left: 23%;
    top: 390%;
  }
  .icons_img3 {
    position: absolute;
    left: 43%;
    top: 390%;
  }

  .icons_img4 {
    position: absolute;
    left: 63%;
    top: 390%;
  }

  .icons_img5 {
    position: absolute;
    left: 83%;
    top: 390%;
  }

  .icons_img6 {
    position: absolute;
    left: 3%;
    top: 425%;
  }
  
  .icons_img7 {
    position: absolute;
    left: 23%;
    top: 425%;
  }
  .icons_img8 {
    position: absolute;
    left: 43%;
    top: 425%;
  }
  .icons_img9 {
    position: absolute;
    left: 63%;
    top: 425%;
  }
  .icons_img10 {
    position: absolute;
    left: 83%;
    top: 425%;
  }





  
  .icons_text1 {
    position: absolute;
    width: 75px;
    height: 25px;
    left: 4%;
    top: 405%;
  
    font-family: "Josefin Sans";
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
  
    text-transform: uppercase;
    color: white;
  }
  
  
  .icons_text2 {
    position: absolute;
    width: 75px;
    height: 25px;
    left: 25%;
    top: 405%;
  
    font-family: "Josefin Sans";
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
  
    text-transform: uppercase;
    color: white;
  }
  
  .icons_text3 {
    position: absolute;
    width: 75px;
    height: 25px;
    left: 40%;
    top: 405%;
  
    font-family: "Josefin Sans";
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
  
    text-transform: uppercase;
    color: white;
  }
  
  .icons_text4 {
    position: absolute;
    width: 75px;
    height: 25px;
    left: 64%;
    top: 405%;
  
    font-family: "Josefin Sans";
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
  
    text-transform: uppercase;
    color: white;
  }

  .icons_text5 {
    position: absolute;
    width: 75px;
    height: 25px;
    left: 80%;
    top: 405%;
  
    font-family: "Josefin Sans";
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
  
    text-transform: uppercase;
    color: white;
  }

  .icons_text6 {
    position: absolute;
    width: 75px;
    height: 25px;
    left: 2%;
    top: 443%;
  
    font-family: "Josefin Sans";
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
  
    text-transform: uppercase;
    color: white;
  }
  
  .icons_text7 {
    position: absolute;
    width: 75px;
    height: 25px;
    left: 25%;
    top: 443%;
  
    font-family: "Josefin Sans";
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
  
    text-transform: uppercase;
    color: white;
  }
  
  .icons_text8 {
    position: absolute;
    width: 75px;
    height: 25px;
    left: 43%;
    top: 443%;
  
    font-family: "Josefin Sans";
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
  
    text-transform: uppercase;
    color: white;
  }
  
  .icons_text9 {
    position: absolute;
    width: 75px;
    height: 25px;
    left: 64%;
    top: 443%;
  
    font-family: "Josefin Sans";
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
  
    text-transform: uppercase;
    color: white;
  }
  
  .icons_text10 {
    position: absolute;
    width: 75px;
    height: 25px;
    left: 83%;
    top: 443%;
  
    font-family: "Josefin Sans";
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
  
    text-transform: uppercase;
    color: white;
  }
  
 